#page-room {
  header {
    padding: 24px;

    border-bottom: solid 1px #e2e2e2;

    .content {
      max-width: 1120px;

      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-between;

      > img {
        max-height: 45px;
      }
    }
  }

  main {
    max-width: 800px;

    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;

      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;

        color: #29292e;
      }

      span {
        margin-left: 16px;
        padding: 8px 16px;

        border-radius: 9999px;

        font-size: 24px;
        font-weight: 500;

        color: #fff;
        background-color: #e559f9;
      }
    }

    form {
      textarea {
        width: 100%;
        min-height: 130px;

        padding: 16px;

        border: 0;
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);

        resize: vertical;

        background-color: #efefef;
      }

      .form-footer {
        margin-top: 16px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;

            border-radius: 50%;
          }

          span {
            margin-left: 8px;

            font-size: 14px;
            font-weight: 500;

            color: #29292E;
          }
        }

        > span {
          font-size: 14px;
          font-weight: 500;

          color: #737380;

          button {
            border: 0;
            cursor: pointer;
            text-decoration: underline;

            font-size: 14px;
            font-weight: 500;

            color: #8354fd;
            background-color: transparent;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }
}
