.question {
    padding: 24px;

    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);

    background-color: #EFEFEF;

    & + .question {
        margin-top: 8px;
    }

    & .answered {

    }

    &.highlighted {
      
    }

    p {
        color: #29292E;
    }

    footer {
        margin-top: 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-info {
            display: flex;
            align-items: center;
  
            img {
              width: 32px;
              height: 32px;
  
              border-radius: 50%;
            }
  
            span {
              margin-left: 8px;
  
              font-size: 14px;
              
              color: #737380;
            }
          }

          > div {
            display: flex;
            gap: 16px;
          }

          button {
            border: 0;
            cursor: pointer;
            background-color: transparent;

            transition: 0.2s;

            &.like-button {
              display: flex;
              align-items: flex-end;
              gap: 8px;

              color: #737380;

              &.liked {
                color: #835AFD;

                svg path {
                  stroke: #835AFD;
                }
              }
            }

            &:hover {
              filter: brightness(0.7);
            }
          }
    }
}